.theme-container.home-page-class {
  background: #000;

  img {
    -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
    box-shadow: 10px 10px 5px #888888;
  }

  .home .hero .description {
    max-width: 100%;
  }

  .home .hero img {
    max-height: 200px;
  }

  .home .hero h1 {
    color: #c7ccd2;
    display: none;
  }
}