.theme-container.home-page-class {
  background: #000;

  .home .hero .description {
    max-width: 100%;
  }

  .home .hero img {
    max-height: 200px;
  }

  .home .hero h1 {
    color: #c7ccd2;
    display: none;
  }
}

.theme-container {
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    box-shadow: 6px 6px 3px #ababab;
  }
}