.theme-container.home-page-class {
  backgound: #000;

  .home .hero .description {
    max-width: 100%;
  }

  .home .hero img {
    max-height: 200px;
  }

  .home .hero h1 {
    color: #c7ccd2;
  }
}